<a href="https://colab.research.google.com/github/Azevedo1996/Web_App_Machine_Learning/blob/main/WebAppMachineLearning_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importando train test split para dividir a base de dados em treio e teste
from sklearn.model_selection import train_test_split
# importando a arvore de decisão
from sklearn.tree import DecisionTreeClassifier
# importando acuracia para asaber a precisão do modelo
from sklearn.metrics import accuracy_score
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [6]:
x = data[["Sex", "Age", "Pclass"]].copy()
y = data["Survived"]
# Transformado Male e Female para 0 e 1 respectivamente via dicionario.
x["Sex"] = x["Sex"].map({"male": 0, "female": 1})
# fillna para tratar valores nulos.
x = x.fillna(-1)

In [22]:
Xtrain, Xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=62)
mdl = DecisionTreeClassifier(random_state=0, min_samples_leaf=4)
mdl.fit(Xtrain, ytrain)
# Utilizando o min_samples_leaf pata evitar o overfiting limitando a 4 o numero de decisoes final na ponta do galho.
p = mdl.predict(Xtest)
accuracy_score(ytest, p)

0.8470149253731343

In [24]:
# Biblioteca para salvar os modelos do sklearn
import joblib
import os
mdl.fit(x, y)
joblib.dump(mdl, os.path.join('model.pkl'))

['model.pkl']